* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #EAFDFC;
  min-height: 750px;
}

.header {
  margin-bottom: 2rem;
  font-size: 3rem;
  background-color: #91D8E4;
  width: 100%;
  align-self: center;
  opacity: 0.7;
  position: fixed;
}

details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.history {
  margin-top: 5rem;
}

summary {
  width: 100%;
  text-align: left;
  font-size: 2rem;
  padding-left: 0.1rem;
  opacity: 0.7;
}

summary:hover {
  cursor: pointer;
  border: solid 2px #81d0de;
}

.card {
  background-color: #BFEAF5;
  padding: 0.1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
  font-size: 1.3rem;
  margin: 0.2rem 0;
}

.paragraph {
  text-align: justify;
  margin: 0.2rem;
  font-size: 0.9rem;
}

.tags {
  display: flex;
  margin: 0.5rem;
  align-items: flex-end;
}

.tag {
  border: 1px solid #82AAE3;
  padding: 0.2rem;
  border-radius: 3px;
}

.user {
  backdrop-filter: blur(15px);
  background-color: #91D8E4;
  width: 40vw;
  min-height: 30vh;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.heading {
  display: flex;
  margin-bottom: 0.5rem;
}

.author-name:hover {
  cursor: pointer;
  color: #3d747d;
}

.close-button {
  background: none;
  margin-right: 0;
  border: none;
  font-size: 1.1rem;
  color: rgb(81, 141, 161);
}

.close-button:hover {
  color: rgb(33, 61, 71);
}

.user-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  max-width: 20vw;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  row-gap: 0.2rem;
}

.user-details > p {
  width: 20vw;
}

